.links_styling ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0px;
}

.links_styling ul li{
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.links_styling ul li:hover{
  color: #F7941D;
}

.products-container{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    border: 1px solid white;
    height: 800px;
    margin-top: 20px;
}

.featured-product-container{
  width: 90%;
  margin: auto;
  justify-content: space-between;
  border: 1px solid white;
  height: 500px;
}

.all-products-container{
  width: 90%;
    margin: auto;
    justify-content: space-between;
    border: 1px solid white;
    height: 820px;
    margin-top: 20px;
}

.products-list {
    color: black;
    width: 100%;
    margin-bottom: 0%;
  }
  .products-list ul{
    display: flex;
  }
  .products-list ul li{
    list-style-type: none;
    margin-left: 40px;
    padding-right: 13px;
    border-right: 1px solid white;
    cursor: pointer;
  }
  
  .products-hr{
    border: 1px solid grey;
    margin-top: 0%;
  }

  .seeAll{
    color:orange;
  }

  .see-all{
    color: #F7941D;
  }

  .see-all:hover{
    cursor: pointer;
  }
  
  .products-list ul {
    display: flex;
  }
  
  .products-list ul li {
    list-style-type: none;
    margin-left: 20px;
    padding-right: 13px;
    border-right: 1px solid white;
    cursor: pointer;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

  }
  
  .product-item {
    width: calc(25% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    height: 350px;
  }
  .product-item:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .price {
    font-weight: bold;
  }
  
  .buy-button {
    width: 120px;
    height: 50px;
    background-color: #F7941D;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
  }
  
  .buy-button:hover {
    background-color: #0F609C;
  }

  .image-gallery{
    width: 100%;
    height: 180px;
  }

.card_des{
  height: 80px;
  text-align: justify;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .card_des{
    height: 90px;
    text-align: justify;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card_des{
    height: 90px;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card_des{
    height: 25px;
    text-align: justify;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card_des{
    height: 40px;
    text-align: justify;
  }
}

@media (max-width: 576px) {
  .card_des{
    height: 65px;
    text-align: justify;
  }
}