.single-product-detail-main-div{
    width: 90%;
    height: 550px;
    display: flex;
    margin:3rem auto;
}
.single-product-image{
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background-color: #F3F3F3; */
    
}
.detail-div {
    width: 50%;
    height: 550px;
    padding: 0px 10px;
}

td{
    width: 150px;
    height: 50px;
}

td:first-child {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

td:nth-child(2){
    width: 500px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
table button{
    margin: 0px 7px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding:7px 30px;
    border: none;
    border-radius: 5px;
        
}
table input{
    width: 40px;
    height: 40px;
    outline: none;
    margin: 0px .5rem;
    border: none;
}

.order-btn{
    background-color: #F7941D;
    padding: 12px 5px 12px 5px;
    border-radius: 5px;
    width: 200px;
    border: none;
    color: white;
    margin-top: 15px;
}

.order-btn:hover{
    background-color: #0F75BC;
}

@media (max-width: 700px) {
    .single-product-detail-main-div{
        flex-direction: column;
        height: 850px;
        
    }
    .single-product-image {
        width: 100%;
        height: 250px;
    }
    .single-product-image img{
        transform: scale(0.5);
    }
    
    .detail-div{
        width: 100%;
        height: 600px;
    }
    }

    .singlefooterimage{
        height: 60px;
        padding: 15px;
        border-radius: 50%;
        background-color: #F3F3F3;
    }

    /* Define your CSS styles for larger screens */
.footer-container {
    display: flex;
    justify-content: space-around;
  }

    @media (max-width: 768px) {
        .footer-container {
            margin: 20px 0px 20px 0px;
          flex-direction: column;
          align-items: center;
        }
        .footer-item{
            margin-bottom: 20px;
        }
      }

.description-text{
    text-align: left;
}


.single-product-container{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    border: 1px solid white;
    height: 660px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .single-product-container{
      height: 1350px !important;
    }
}
@media screen and (max-width: 767px) {
    .single-product-container{
      height: auto;
    }
}
@media screen and (max-width: 1120px) {
    .single-product-container{
      margin-top: 40px !important;
      height: auto;

    }
  
  }

  .size-button:hover{
    color:white;
    background-color: #F7941D;

  }
  .size-button-medium:hover{
    color:black;
    background-color: #F3F3F3;

  }
  .size-button-medium{
    color:white;
    background-color: #F7941D;
  }